*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
li{
  list-style-type: none;
}

#num{
	padding-left: -10px; 
	position:absolute;
	width:20px;
	height:23px;
	border:bold;
}
#brandImg{
	width:200px;
	height:150px;
}
#productImg{
	width:200px;
	height:200px;
	border:0; 
}
table{
width:1300px;
cellpadding:5;
cellspacing:0;
}
#more{
 text-decoration-line: underline;
 position: absolute; 
 right: 300px; 
 top:-60px;
 bottom: 0;
}